@import "reset.css";
@import "variable.css";
@import "fonts.css";

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--main-bg-color);
  color: var(--main-ft-color);
  font-family: -apple-system, 'Pretendard-Regular', 'Segoe UI', 'Roboto', sans-serif;
}

main {
  max-width: 120vh;
  min-width: 80vh;
  min-height: 60vh;
  margin: 2vh auto;
  border-radius: 20px;
  background-color: rgba(166, 182, 194, 0.15);
  backdrop-filter: blur(10px);
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.2);
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid salmon;

  padding: 2vh 3vh;
}

.header-title {
  font-size: 2em;
  font-weight: 700;
}

.add-todo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  gap: 1vh;
}

.add-todo input {
  width: 22vh;
  height: 3vh;
  padding: 0.5vh;
  border: none;
  border-radius: 10px;
  outline: none;
  font-family: 'Pretendard-Regular';
}

.add-todo button {
  width: 7vh;
  height: 3.5vh;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  margin-left: 0.5vh;
  background-color: palevioletred;
  font-family: 'Pretendard-Regular';
  transition: all 0.2s ease-in-out;
}

.add-todo button:hover {
  scale: 1.1;
}

.list-container {
  display: inline-block;
}

.list-title {
  display: inline-block;
  font-size: 1.5em;
  padding: 0.5em;
}

.list-working, .list-done {
  padding: 1em 2em 1em 2em;
}

.list-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 1em;
}

.todo-container {
  width: 30vh;
  border: 3px solid salmon;
  border-radius: 12px;
  padding: 1.3em;
  position: relative;
}

.todo-text {
  display: inline-block;
  margin-bottom: 5vh;
}

.todo-container h3 {
  font-size: 1.3em;
  font-weight: 700;
  padding-bottom: 1em;
  color: #d69891;
}

.todo-buttons-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  gap: 10px;
  padding: 1em;
}

.todo-buttons-container button {
  border: none;
  width: 10em;
  height: 3em;
  border-radius: 10px;
  cursor: pointer;
}

.todo-delete-button {
  background-color: #c19898;
}

.todo-complete-button {
  background-color: #a1aed3;
}

footer {
  padding: 1vh;
}